@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

h1, h2, h3, .font-serif {
  font-family: 'Playfair Display', serif;
}
